:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  width: 100vw;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
}

h3 {
  margin: 0;
  font-size: 26px;
}

h2 {
  text-decoration: underline;
  font-size: 30px;
}

td, th {
  padding: 10px;
}

button {
  border-radius: 15px;
  padding: 4px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}

.cancel-button {
  background-color: #ffc0c0d4;
  border: 1px solid #fd6767;
}

.ok-button {
  background-color: #d6ffc0bc;
  border: 1px solid #96fd67e7;
}

.buttons td{
  padding: 5px 10px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.action-payment {
  flex: 1;
}

.action-waiter {
  flex: 1.75;
}

.action-payment,
.action-waiter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.actions-table {
  width: 100%;
  border: #1f1f1f solid 3px;
  border-collapse: collapse;
  margin-top: 5px;
  background-color: #333333;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}

.actions-table tr {
  border-bottom: 1px solid #1f1f1f;
}

.action-payment th,
.action-payment td {
  width: 50%; 
}

.action-waiter th,
.action-waiter td {
  width: 33.3%; 
}


.history {
  flex: 1;
  margin-right: 20px;
}

.all-actions-history-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #333333;
}

.all-actions-history-table th,
.all-actions-history-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.container {
  display: flex;

}

.active-requests {
  flex: 1.75;
  margin: 0 20px;
}

.tables-container{
  padding: 10px;
  border: #9c9c9c 2px solid;
  background-color: #2d2d2d;
}

.green-background {
  background-color: rgb(93, 125, 93);
}

.orange-background {
  background-color: rgb(165, 134, 78);
}

.red-background {
  background-color: rgba(195, 82, 82, 0.655);
}

.active-requests,
.history {
  max-height: 99vh; 
  overflow-y: auto; 
  overflow-x: hidden;
  padding-right: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.category {
  display: flex;
  align-items: center;
}